<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kasirandrea.kasirandrea">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- permisi bluetooth -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".kasir.bluetooth.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/logoandrea"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoandrea"
        android:supportsRtl="true"
        android:theme="@style/Theme.KasirAndrea"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:allowBackup,android:supportsRtl">
        <activity
            android:name=".kasir.owner.ui.gaji.GajiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.produk.QrCodeProdukActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.listpesanan.ListPesananActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.detailpesanan.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.ongkir.OngkirActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.datapembeli.DataPembeliActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.produk.OrderAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.produk.ProdukAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.owner.ui.admin.DetailAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.owner.ui.admin.TambahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.DetailProdukAdminActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.owner.ui.produk.TambahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.owner.OwnerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.owner.ui.produk.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.admin.UtamaActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".kasir.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kasir.ListProdukActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>